<section id="main-container">

    <header>
        <mat-toolbar color="primary">
            <span>Inmobiliaria Web</span>
          </mat-toolbar>
    </header>

    <h1>Inicio de sesión</h1>

    <div class="container-form">

        <form class="form-login" [formGroup]="formLogin" (ngSubmit)="login()">

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input matInput
                           type="text"
                           formControlName="email"
                           placeholder="Ingresa tu correo para continuar">

                    <mat-error *ngIf="emailError">
                        Debes ingresar un correo valido
                    </mat-error>
                  </mat-form-field>
            </div>

            <button mat-raised-button color="primary">
                Ingresar
            </button>

        </form>

    </div>

</section>
